.btn {
	&.btn-custom {
		// layout
		padding: .625em 1.625em;
		min-width: 5em;
		min-height: 2.25em;
		// typography
		text-transform: uppercase;
		@extend h3;
		color: lighten($black, 30%);
		@include text-shadow(0 1px 0 rgba($white, .3));
		letter-spacing: .125em;
		// button
		@include border-radius(.625em);
		border: 2px solid lighten($black, 50%);
		@include box-shadow(0 0 0 6px rgba($white, 1), 0 9px 0 0 rgba($black, .25), 0 0 9px 7px rgba($black, .375), inset 0 0 12px 6px rgba($black, .01));
		@include background-image( radial-gradient(50% -40px, rgba($white, .9) 20px, rgba($white, 0)), linear-gradient(top, lighten($black, 50%) 50%, lighten($black, 25%) 50%) );
		// caret
		span {
			display: inline-block;
			@include rotate(-90deg);
			font-size: 120%;
		}
		@include transition(ease all .3s);
		&:focus,
		&:hover {
			outline: none;
			background-position: 0 0;
			color: lighten($black, 25%);
			@include box-shadow(0 0 0 6px rgba($white, 1), 0 9px 0 0 rgba($black, .25), 0 0 9px 7px rgba($black, .375), inset 0 0 12px 6px rgba($black, .25));
		}
	}
}