<header>
	<div>Today 11<small>am</small> - 10<small>pm</small></div>
	<div>
		<div>(703)237-8333</div>
		<div>email us</div>
	</div>
	<div>
		<div>123 west broad street</div>
		<div>falls church, va 22046</div>
	</div>
</header>

<section>
	<figure>
		<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		<figcaption>main title</figcaption>
	</figure>
	<figure>
		<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		<figcaption>main title</figcaption>
	</figure>
	<figure>
		<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		<figcaption>main title</figcaption>
	</figure>
</section>

<section>
	<article>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus urna. Donec id erat sollicitudin, tristique turpis sit amet, convallis risus. Mauris sapien nisl, tincidunt consequat nunc vel, tincidunt porttitor dui.
			<cite>david <span>from</span> reston, va</cite>
		</blockquote>
	</article>
	<article>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus urna. Donec id erat sollicitudin, tristique turpis sit amet, convallis risus. Mauris sapien nisl, tincidunt consequat nunc vel, tincidunt porttitor dui.
			<cite>david <span>from</span> reston, va</cite>
		</blockquote>
		<a href="#" title="foobar">foobar</a>
	</article>
</section>

<footer>
	<small>&copy; 2013 foobar</small>
	<div>
		<a href="#" title="twitter">twitter</a>
		<a href="#" title="facebook">facebook</a>
	</div>
	<div>powered by <a href="#" title="foobar">foobar</a></div>
</footer>