<header>
	<div class="ss-view">Today 11<small>am</small> &mdash; 10<small>pm</small></div>
	<div>
		<div class="ss-cell">(703) 237&ndash;8333</div>
		<div class="ss-mail"><a href="mailto:foo@foobarbaz.com" title="email us">email us</a></div>
	</div>
	<div class="ss-location">
		<div>
			123 west broad street
			<div>falls church, va 22046</div>
		</div>
	</div>
</header>

<section class="gallery">
	<figure>
		<div>
			<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		</div>
		<figcaption>main title</figcaption>
	</figure>
	<figure>
		<div>
			<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		</div>
		<figcaption>main title</figcaption>
	</figure>
	<figure>
		<div>
			<img src="images/gob_franklin.png" height="auto" width="100%" alt="GOB Bluth and Franklin" />
		</div>
		<figcaption>main title</figcaption>
	</figure>
</section>

<section class="main">
	<article>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus urna. Donec id erat sollicitudin, tristique turpis sit amet, convallis risus. Mauris sapien nisl, tincidunt consequat nunc vel, tincidunt porttitor dui.
			<cite>david <span>from</span> reston, va</cite>
		</blockquote>
	</article>
	<article>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus urna. Donec id erat sollicitudin, tristique turpis sit amet, convallis risus. Mauris sapien nisl, tincidunt consequat nunc vel, tincidunt porttitor dui.
			<cite>david <span>from</span> reston, va</cite>
		</blockquote>
		<a href="#" title="foobar">Read all Reviews on Yelp</a>
	</article>
</section>

<footer>
	<small>&copy; 2013 foobar</small>
	<div>
		<a href="#" title="twitter">twitter</a>
		<a href="#" title="facebook">facebook</a>
	</div>
	<div>powered by <a href="#" title="foobar">foobar</a></div>
</footer>