ul {
	li {
		> .btn {
			margin-bottom: 1em;
		}
		&:last-child {
			> .btn {
				margin-bottom: 0;
			}
		}
	}
}

dl {
	dt {
		margin: 15px 0 5px;
		&:first-child {
			margin-top: 0;
		}
	}
	dd {
		margin: 0;
	}
}