<header>
	<h2>Flatten the object</h2>
</header>
<article>
	<div class="row">
		<pre>{'index':
		{'about':
			{
				'team': true,
				'company': ['Jim', 'Barry']
			}
		}
	}</pre>
	</div>
	<div class="row">
		<button class="btn btn-primary btn-small span2" id="flatten_trigger">Flatten</button>
		<code class="span10">URL:<span id="flatten_target"></span></code>
	</div>
</article>