<header>
	<h2>Style this button to match the screenshot</h2>
</header>
<article>
	<div class="span6 text-center">
		<button class="btn btn-custom">Submit <span>&#9662;</span></button>
	</div>
	<div class="span6">
		<p>For styling this I relied on view only. Didn't open the image in PS to get correct colors or use x-scope for sizing. I installed compass gem to get css3 helpers to so that I wouldn't have to write out all vendor pre-fixes and had access to some powerful helper mixins like generating gradients, shadows, rounded corners and transitions. Downsides to relying so heavily on css3 is browser compatibility and possibly longer rendering time than requesting an image sprite.</p>
	</div>
</article>