<header>
	<h2>Style this button to match the screenshot</h2>
</header>
<article>
	<div class="columns small">
		<p>At 300px - <span>using css columns</span></p>
		<div class="row">
			<div class="col-a">A</div>
			<div class="col-b">B</div>
			<div class="col-c">C</div>
		</div>
	</div>
	<div class="columns medium">
		<p>At 500px - <span>using css inline-block</span></p>
		<div class="row">
			<div class="col-a">A</div>
			<div class="col-b">B</div>
			<div class="col-c">C</div>
		</div>
	</div>
	<div class="columns large">
		<p>At 700px - <span>using css floats</span></p>
		<div class="row">
			<div class="col-a">A</div>
			<div class="col-b">B</div>
			<div class="col-c">C</div>
		</div>
	</div>
</article>