<header>
	<h2>Lay out the following form</h2>
</header>
<article>
	<form id="music_user" method="post">

		<fieldset class="row" id="user_identity">
			<div class="control-group span6">
				<label for="user_first_name">First Name</label>
				<input type="text" id="user_first_name" />
			</div>
			<div class="control-group span6">
				<label for="user_last_name">Last Name</label>
				<input type="text" id="user_last_name" />
			</div>
		</fieldset>

		<fieldset class="row" id="user_contact">
			<div class="control-group span6">
				<label for="user_email">Email</label>
				<input type="email" id="user_email" />
			</div>
			<div class="control-group span6">
				<label for="user_email_confirm">Confirm Email</label>
				<input type="email" id="user_email_confirm" />
			</div>
		</fieldset>

		<fieldset class="row" id="user_location">
			<div class="control-group span6">
				<label for="user_postal_code">Zip/Postal Code</label>
				<input type="text" id="user_postal_code" />
			</div>
			<div class="control-group span6">
				<label for="user_country">Country</label>
				<select type="email" id="user_country">
					<option value="usa">USA</option>
					<option value="canada">Canada</option>
					<option value="mexico">Mexico</option>
				</select>
			</div>
		</fieldset>

		<fieldset class="row" id="user_about">
			<legend>About you</legend>
			<div class="span4">
				<ul class="unstyled">
					<li class="control-group inline">
						<label for="musical_artist">Musical Artist</label>
						<input type="checkbox" id="musical_artist"/>
					</li>
					<li class="control-group inline">
						<label for="live_sound_engineer">Live Sound Engineer</label>
						<input type="checkbox" id="live_sound_engineer"/>
					</li>
					<li class="control-group inline">
						<label for="studio_engineer">Studio Engineer</label>
						<input type="checkbox" id="studio_engineer"/>
					</li>
					<li class="control-group inline">
						<label for="sound_contractor">Sound Contractor/Consultant</label>
						<input type="checkbox" id="sound_contractor"/>
					</li>
					<li class="control-group inline">
						<label for="educator">Educator</label>
						<input type="checkbox" id="educator"/>
					</li>
				</ul>
			</div>
			<div class="span4">
				<ul class="unstyled">
					<li class="control-group inline">
						<label for="music_director">Music/Choral Director</label>
						<input type="checkbox" id="music_director"/>
					</li>
					<li class="control-group inline">
						<label for="worship_leader">Worship Leader</label>
						<input type="checkbox" id="worship_leader"/>
					</li>
					<li class="control-group inline">
						<label for="media_producer">Broadcast/Media Producer</label>
						<input type="checkbox" id="media_producer"/>
					</li>
					<li class="control-group inline">
						<label for="home_recordist">Home Recordist</label>
						<input type="checkbox" id="home_recordist"/>
					</li>
					<li class="control-group inline">
						<label for="audio_enthusiast">Audio Enthusiast</label>
						<input type="checkbox" id="audio_enthusiast"/>
					</li>
				</ul>
			</div>
			<div class="span4">
				<ul class="unstyled">
					<li class="control-group inline">
						<label for="podcaster">Podcaster</label>
						<input type="checkbox" id="podcaster"/>
					</li>
					<li class="control-group inline">
						<label for="DJ">DJ</label>
						<input type="checkbox" id="dj"/>
					</li>
					<li class="control-group inline">
						<label for="volunteer_audio_staff">Volunteer Audio Staff</label>
						<input type="checkbox" id="volunteer_audio_staff"/>
					</li>
				</ul>
			</div>
		</fieldset>

		<fieldset class="row" id="user_products">
			<legend>I use audio products for</legend>
			<div class="span6">
				<ul class="unstyled">
					<li class="control-group inline">
						<label for="use_vocals">Vocals</label>
						<input type="checkbox" id="use_vocals"/>
					</li>
					<li class="control-group inline">
						<label for="use_guitar">Guitar/Bass</label>
						<input type="checkbox" id="use_guitar"/>
					</li>
					<li class="control-group inline">
						<label for="use_keyboards">Keyboards</label>
						<input type="checkbox" id="use_keyboards"/>
					</li>
					<li class="control-group inline">
						<label for="use_brass">Brass/Woodwinds</label>
						<input type="checkbox" id="use_brass"/>
					</li>
				</ul>
			</div>
			<div class="span6">
				<ul class="unstyled">
					<li class="control-group inline">
						<label for="use_drums">Drums</label>
						<input type="checkbox" id="use_drums"/>
					</li>
					<li class="control-group inline">
						<label for="use_acoustic">Acoustic Instruments</label>
						<input type="checkbox" id="use_acoustic"/>
					</li>
					<li class="control-group inline">
						<label for="use_conferencing">Conferencing/Installed Sound</label>
						<input type="checkbox" id="use_conferencing"/>
					</li>
					<li class="control-group inline">
						<label for="use_personal">Personal Use/Gaming/Listening to Music</label>
						<input type="checkbox" id="use_personal"/>
					</li>
				</ul>
			</div>
		</fieldset>

		<fieldset class="row" id="user_submit">
			<div class="control-group inline">
				<label for="user_subscribe">Subscribe to communications</label>
				<input type="checkbox" id="user_subscribe" checked="checked"/>
			</div>
			<div class="control-group">
				<small class="span6">
					<b>Please note:</b>
					You must keep your receipt to prove proof of purchase to guarantee warranty.
				</small>
				<div class="span6">
					<button type="submit" class="btn btn-success btn-large">Register Products</button>
				</div>
			</div>
		</fieldset>

	</form>
</article>