<header>
	<h2>JS selector engine</h2>
</header>
<article>
	<form id="selector_engine" method="get" class="span6">
		<fieldset class="control-group inline row">
			<input type="text" id="selector_input" class="span6" />
			<button type="submit" id="submit_selector" class="btn btn-success btn-small">Get It</button>
		</fieldset>
	</form>
	<div id="dom_results" class="span6"></div>
</article>