<header>
	<h2>Parse specificity</h2>
</header>
<article>
	<p>
		Because of CSS specificity the rule <code>html body #content > a.link { color: lightred !important; }</code> applies to this dom element. Andy Clarke provides a great resource for understanding the 1,1,1 rules in CSS specificity, <a href="http://www.stuffandnonsense.co.uk/archives/css_specificity_wars.html" title="CSS Specificity Wars">CSS Specificity Wars</a>. This rule trumps the others because it has 1 id selector, 1 class selector and 3 element selectors compared to the 4 other viable options it has the highest specificity.
	</p>
</article>