---
title: Viget FED Candidate Quiz
---
<header class="page-header">
	<h1>
		<%= current_page.data.title %>
	</h1>
</header>

<section class="row-fluid">
	<%= partial "q1" %>
</section>

<section class="row-fluid">
	<%= partial "q2" %>
</section>

<section class="row-fluid">
	<%= partial "q3" %>
</section>